- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        footer:{
          information:'All contents © copyright 1999-2017 wintonasia.com. All rights reserved.',
          social:[
            {
              href:'#',
              name:'linkedin'
            },
            {
              href:'#',
              name:'twitter'
            },
            {
              href:'#',
              name:'vk'
            },
            {
              href:'#',
              name:'facebook'
            }
          ],
        },
        nav: {
          links: [
            {
              href: "/about.html",
              displayName: "О компании"
            },

            {
              href: "#",
              displayName: "Услуги и цены"
            },
            {
              href: "/blog.html",
              displayName: "Блог"
            },
            {
            href: "/contacts.html",
            displayName: "Контакты"
            }
          ],
          adventures:[
            {
              href:'#',
              heading:'Представитель в Китае'
            },
            {
              href:'#',
              heading:'Организация посещения выставок'
            },
            {
              href:'#',
              heading:'Оборудование из Китая'
            },
            {
              href:'#',
              heading:'Независимое тестирование образцов'
            },
            {
              href:'#',
              heading:'Поиск производителей в Китае'
            },
            {
              href:'#',
              heading:'Аудит и проверка поставщиков'
            },
            {
              href:'#',
              heading:'Проверка качества товаров'
            },
            {
              href:'#',
              heading:'Производство товаров в Китае'
            }
          ]
        },
        lang: [
          {
            active:true,
            name:'ru',
            link:'#'
          },
          {
            active:false,
            name:'en',
            link:'#'
          },
        ],
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        },
        social:[
        {
          href:'#',
          name:'vk'
        },
        {
          href:'#',
          name:'twitter'
        },
        {
          href:'#',
          name:'linkedin'
        },
        {
          href:'#',
          name:'facebook'
        }
        ]
      }, //- site
      index: {
        header:'main-header',
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        intro:{
          heading:'глобальный консалтинговый центр',
          text:'команда специалистов, главной направленностью которых является предоставление услуг по работе с китайскими производителями товаров',
        },
        services:{
          heading:'наши услуги',
          items:[
            {
              text:'Поиск производителей в Китае',
            },
            {
              text:'Аудит и проверка поставщиков',
            },
            {
              text:'Проверка качества товаров',
            },
            {
              text:'Производство товаров в Китае',
            },
            {
              text:'Представитель<br>в Китае',
            },
            {
              text:'Организация посещения выставок',
            },
            {
              text:'Оборудование<br>из Китая ',
            },
            {
              text:'Независимое тестирование образцов',
            },
          ]
        },
        advantages:{
          heading:'наши преимущества',
          items:[
            {
              heading:'Разумные цены',
              text:'1 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все специалисты владеют русским, китайским и английским языками'
            },
            {
              heading:'Гарантия качества',
              text:'2 тированные на работу с Китаем специалисты в областях Product management, Sourcing, QAками'
            },
            {
              heading:'Квалифицированные работники',
              text:'3 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все специалисты владеют русским, китайским и английским языками'
            },
            {
              heading:'Оперативность',
              text:'4 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все  '
            },
          ]
        },
        clients:{
          heading:'наши клиенты',
          items:[
            {
              img:'img/index/c1.jpg'
            },
            {
              img:'img/index/c2.jpg'
            },
            {
              img:'img/index/c3.jpg'
            },
            {
              img:'img/index/c4.jpg'
            },
            {
              img:'img/index/c5.jpg'
            },
            {
              img:'img/index/c6.jpg'
            },
            {
              img:'img/index/c7.jpg'
            },
            {
              img:'img/index/c8.jpg'
            },
            {
              img:'img/index/c9.jpg'
            },
            {
              img:'img/index/c10.jpg'
            },
            {
              img:'img/index/c11.jpg'
            },
            {
              img:'img/index/c12.jpg'
            },
          ]
        },
        blog:{
          heading:'Блог',
          items:[
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            },
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            },
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            }
          ]
        },
        payment:{
          heading:'Способы оплаты',
          text:'Вы можете сделать оплату удобным для вас способом',
          items:[
            {
            img:'img/index/p1.jpg'
            },
            {
            img:'img/index/p2.jpg'
            },
            {
            img:'img/index/p3.jpg'
            },
            {
            img:'img/index/p4.jpg'
            },
            {
            img:'img/index/p5.jpg'
            },
            {
            img:'img/index/p6.jpg'
            },
            {
            img:'img/index/p7.jpg'
            },
            {
            img:'img/index/p8.jpg'
            }
          ]
        },
        callback:{
          heading:'обратная связь',
          text:'Нажимая на кнопку “Отправить”, вы соглашаетесь на обработку своих персональных данных в соответствии с <a class="callback-link" href="#">Политикой конфиденциальности</a>'
        },
        reviews:{
          items:[
          {
            name:'Анатолий Федоров',
            position:'Финансовый директор, Сафоновский электромашиностроительный завод',
            text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },

          ]
        }
      }, //- index
      blog: {
        title: 'блог',
        items: [
          {
          img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          },
          {
          img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          },
          {
          img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          },
          {
          img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          },
          {
            img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          },
          {
            img:'img/b1.png',
            heading:'В Китае запустили безрельсовый поезд',
            text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
          }
        ]
      },
      contacts: {
        title: 'контакты'
      },
      blog_page: {
        title:'Блог',
        heading:'В Китае запустили безрельсовый поезд',
        url:'Источник: https://habrahabr.ru/company/edison/blog/342848/',
        text:'Китайская компания по строительству железных дорог объявила, что разработала новое транспортное средство, совмещающее особенности электрического поезда и автобуса.<br><br>Скоростной транзитный поезд с автономными рельсами(Autonomous Rail Rapid Transit, APT) был спроектирован и сконструирован исследовательским подразделением компании CRRC Zhuzhou Locomotive Co Ltd, которая производит ключевые элементы для высокоскоростной железной дороги Китая.<br><br>Базовая модель поезда-автобуса имеет три вагона вместимостью 300 человек.<br><br><br>Комплектация с пятью вагонами может перевозить до 500 пассажиров. По словам разработчиков, такая конструкция вмещает больше людей и позволяет маневрировать легче, чем обычный автобус. Транспорт использует электрический привод и может на одном заряде проехать 40 км при максимальной скорости 70 км/ч.<br><br>По его словам, большинство средних и малых городов не могут позволить себе дорогостоящие транспортные системы в виде, например, метро, которые, плюс ко всему, еще и очень долго строятся. Так, прокладка километра подземки может обходится от 400 до 700 миллионов юаней (от 58 до 102 миллионов долларов США).<br><br>Как заявляют авторы проекта, электрический состав в стандартной комплектации стоит около 15 миллионов юаней (2,2 миллиона долларов).<br><br>Согласно планам правительства города Чжучжоу (провинция Хунань), первая действующая линия длиной 6,5 км будет построена через центр города, а заработает система в 2018 году.',
        more:[
        {
          link:'Предыдущая новость',
          href:'#',
          heading:'В Китае запустили первый в мире водородный трамвай'
        }
        ]
      },
      service: {
        title: "Услуги и стоимость",
        product: {
          items: [
            {
              icon: "s1",
              heading: "Поиск производителей в Китае",
              descr: "Поиск товара в Китае – ответственный процесс, который требует знания множества аспектов и учета наименее значимых деталей",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                icon: "a1",
                text: "от 120 $ отчет"
              }
            },
            {
              icon: "s2",
              heading: "Аудит и проверка поставщиков",
              descr: "Недостаточно просто отыскать бизнес-партнера в КНР. Важно убедиться в его надежности, что требует тщательной проверки",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                icon: "a1",
                text: "от 150 $ в день"
              }
            },
            {
              icon: "s3",
              heading: "Проверка качества товаров",
              descr: "Качество продукции имеет прямую зависимость от периодичности контроля и акцентирования внимания на имеющихся проблемах",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                icon: "a1",
                text: "от 140 $ отчет"
              }
            },
            {
              icon: "s4",
              heading: "Организация производства товаров",
              descr: "Большой опыт работы, собственная информационная база позволяет подобрать для каждого клиента оптимальное решение",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                btn: {
                  href: "#get__price",
                  text: "Узнать стоимость"
                }
              }
            },
            {
              icon: "s5",
              heading: "Представитель в Китае",
              descr: "Постоянный торговый представитель в Китае – это возможность в оперативном порядке разрешать любые вопросы",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                btn: {
                  href: "#get__price",
                  text: "Узнать стоимость"
                }
              }
            },
            {
              icon: "s6",
              heading: "Организация посещения выставок",
              descr: "Каждый год в КНР проходит множество презентаций, ярмарок и выставок на международном уровне",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                btn: {
                  href: "#get__price",
                  text: "Узнать стоимость"
                }
              }
            },
            {
              icon: "s7",
              heading: "Оборудование из Китая",
              descr: "Оборудование из Китая оптимально сочетает ряд факторов, делающих его конкурентоспособным на мировом рынке",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                btn: {
                  href: "#get__price",
                  text: "Узнать стоимость"
                }
              }
            },
            {
              icon: "s8",
              heading: "Независимое тестирование образцов",
              descr: "Тестирование образцов в Китае проводим в лучших лабораториях, что гарантирует достоверность и высокую точность результата",
              btn: {
                href: "#more",
                text: "Подробнее",
              },
              price: {
                btn: {
                  href: "#get__price",
                  text: "Узнать стоимость"
                }
              }
            },
          ]
        }
      }, //- service
      internal: {
        title: "Оборудование из Китая",
        text1: [
          "КНР сегодня уверено удерживает лидирующие позиции в сфере экспорта производимой продукции во многие страны мира. И это неудивительно, поскольку оборудование из Китая оптимально сочетает ряд факторов,  делающих его конкурентоспособным на мировом рынке. Но, несмотря на всю привлекательность китайского оборудования, выбрать и приобрести его самостоятельно порой бывает крайне сложно.",
          "Однако есть ряд факторов, способных воспрепятствовать успешной сделке. В первую очередь речь идет о возможных сложностях во время доставки и отсутствия оперативной проверки качества оборудования до момента его отправки.",
          "Решением проблемы является привлечение специалистов, способных оказать помощь в  поиске конкретного оборудования, его проверке и отправке. Мы подберем оборудование для бизнеса из Китая исходя из ваших потребностей и бюджета, организуем оперативную доставку и окажем помощь в сопровождении сделки. Благодаря нам, сотрудничество с партнерами из КНР будет для вас не только комфортным, но и выгодным."
        ],
        post1: {
          heading: "Что мы <br>предлагаем",
          descr: [
            "Мы готовы предложить оборудование из Китая, купить которое вы сможете с наибольшей для себя выгодой, напрямую от производителя, без посредников для последующего его использования в таких отраслях:",
          ],
          text: [
            "Это далеко не полный перечень тех сфер деятельности, станки и производственные линии для которых вам помогут найти и приобрести наши специалисты. Мы готовы индивидуально подобрать любое оборудование из Китая для производства, максимально учитывая при этом все ваши пожелания и предложения.",
          ],
          items: [
            {
              text: "Химическая промышленность",
            },
            {
              text: "Пищевая промышленность",
            },
            {
              text: "Перерабатывающая промышленность",
            },
            {
              text: "Строительная техника и оборудование",
            },
            {
              text: "Развлекательная индустрия и оборудование",
            },
            {
              text: "Медицинская промышленность",
            },
            {
              text: "Рекламная индустрия",
            },
            {
              text: "Различные производственные линии",
            },
          ]
        },
        post2: {
          heading: "Китайское <br>оборудование и его выгоды",
          text: [
            "Но чем привлекательны местные производители оборудования, Китай для которых является одной из площадок сбыта иностранным партнерам? Причин высокого спроса несколько. В первую очередь речь идет о демократичной стоимости выпускаемого оборудования, а также о разнообразии предлагаемого ассортимента. Не секрет, что в Китае сегодня можно приобрести все, что только необходимо. В последнее время стало очень популярно оборудование для домашнего бизнеса из Китая, все больше людей делают выбор в сторону китайских аналогов за высокое качество, в полной мере соответствуя всем актуальным ныне мировым и европейским стандартам. Нельзя не отметить и комплексность подхода китайских компаний. Возможна поставка оборудования из Китая  не только в готовом для эксплуатирования виде. Приобрести можно и комплектующие, а также вспомогательные  устройства и приспособления, что исключает малейшие проблемы с совместимостью при комплектовании  технологических линий.",
          ],
        },
        post3: {
          heading: "Как мы <br>работаем",
          descr: [
            "Мы действуем в тесном контакте с клиентами, что позволяет гарантировать получение того результата, который требуется. Нами выработан простой, но эффективный алгоритм сотрудничества, который включает в себя ряд последовательно выполняемых этапов. К ним относится:",
          ],
          list: [
            "Подбор требуемого заказчику производителя",
            "Ознакомление с ассортиментом и выбор требуемой продукции",
            "Проверка станков и документации к ним",
            "Подготовка контракта, обсуждение деталей и заключение сделки",
            "Организация доставки согласно оговоренным в соглашении срокам",
            "Сопровождение таможенного оформления",
            "Помощь с организацией привлечения китайских специалистов от фабрики производителя для монтажа и обучения персонала по эксплуатации оборудования",
          ],
          desk: {
            text: "Большой практический опыт <br>и тесное сотрудничество с <br>партнерами из Поднебесной <br>позволяет нам минимизировать <br>возможные риски при <br>заключении сделки. Доставка <br>продукции будет проведена в <br>кратчайшие сроки и тем <br>способом, который для вас <br>более всего <br>выгоден и оптимален."
          }
        },
        post4: {
          heading: "Наши <br>преимущества",
          text: [
            "Производимое в Китае оборудование ни в чем не уступает западным конкурентам, а по ряду аспектов так и вовсе превосходит аналогичные предложения из США и Европы. Это позволяет получить при эксплуатации максимальную прибыль для своего бизнес-проекта.",
          ],
          descr: [
            "Мы предлагаем вам лучшее оборудование в Китае, купить которое вы можете с рядом преимуществ, среди которых:",
          ],
          list: [
            "Отсутствие посредничества и прямой контакт с партнером из КНР",
            "Минимизация рисков совершаемой сделки и ее конфиденциальность",
            "Индивидуальные взаимоотношения с каждым клиентом",
            "Высокое качество предлагаемого оборудования",
            "Доступная стоимость всего спектра реализуемых услуг",
            "Оптимизация расходов, связанных с логистикой",
          ],
        },
      }, //- internal
      internal1: {
        title: "Поиск производителей в Китае",
        text1: [
          "Китай сегодня по праву считается страной с самой мощной и развитой производственной базой в мире. Каждая из провинций специализируется на производстве определенных видов продукции, а разнообразие предложений позволяет подобрать требуемый товар. При этом крайне важно не ошибиться с выбором и начать работу с надежным поставщиком, который сможет предложить не только выгодную стоимость на свою продукцию, но и гарантирует ее высокое качество, в полной мере соответствующее международным нормативам и стандартам.",
          "К сожалению, далеко не всегда поставщики из Китая могут быть подобраны самостоятельно. Проблема может быть обусловлена самыми разными факторами, среди которых языковой барьер, особенности местного менталитета, отсутствие опыта в использовании инструментов для поиска производителей и ряд прочих, что может негативно сказаться на успешности вашего бизнеса и его защищенности в КНР.",
          "Именно поэтому поиск производителей в Китае следует доверять исключительно профессионалам. Мы экономим ваше время и предоставляем достоверные данные о поставщике. При необходимости наши специалисты осуществят выезд на производство и соберут дополнительную информацию, сопроводив ее фото и видео материалами, а также рекомендациями касательно актуальности сотрудничества с конкретной компанией."
        ],
        post1: {
          heading: "Услуга и ее <br>актуальность",
          descr: [
            "Поиск товара в Китае – сложный и ответственный процесс, который требует знания множества аспектов и учета даже наименее значимых деталей. У нас задействованы сотрудники, опыт и практические познания которых позволяют им справляться с любой поставленной задачей в кратчайшие сроки.",
            "В своей деятельности мы используем, в том числе, и собственную информационную базу, а регулярное посещение проводимых в КНР выставок и ярмарок дает нам возможность пребывать в курсе событий и актуализировать происходящие перемены на рынке в той или иной индустрии.",
            "Предлагаемый нами поиск поставщиков в Китае включает в себя следующее:",
          ],
          list: [
            "Подбор трех и более производителей по каждой интересующей вас товарной позиции",
            "Проведение предварительных переговоров с менеджерами компании в удаленном режиме",
            "Запрос стоимости на интересующие вас товарные позиции",
            "Использование открытых источников для сбора данных о производителе",
            "Запрос на получение копий сертификатов качества на реализуемую продукцию, разрешительной документации по ее экспорту и лицензии на право проведения деятельности в выбранном сегменте рынка",
          ],
          text: [
            "В своей работе мы отдаем предпочтение прямому контакту – поставщики из Китая без посредников. Подобный формат позволяет не только гарантировать высочайшее качество реализуемой услуги, но и исключает для вас малейшие финансовые и имиджевые риски.",
            "Ценовая политика на наши услуги вариативна и определяется индивидуально в каждой конкретной ситуации. За основу берется сложность задачи и поставленные сроки для ее исполнения.",
          ],
        },
        post2: {
          heading: "Наши <br>преимущества",
          descr: [
            "Каждому из своих клиентов мы готовы предоставить целый ряд неоспоримых преимуществ, среди которых:",
          ],
          list: [
            "Ответственность – мы никогда не отказываемся от принятых обязательств и всегда заканчиваем начатый поиск, гарантируя предоставление клиенту надежных и проверенных данных",
            "Индивидуальность – каждый конкретный поиск товара или его изготовителя мы проводим в тесном контакте с заказчиком, что позволяет получить тот результат, который максимально полно соответствует его ожиданиям и требованиям",
            "Оперативность – действуя быстро и слаженно, мы предоставляем клиентам требуемую им информацию в кратчайший срок и без малейших задержек",
            "Доступность – поиск товаров в Китае, силами наших специалистов, имеет доступную стоимость",
            "Безопасность – наша деятельность соответствует законодательным нормам и правилам, а информация о клиентах и предоставляемой им информации конфиденциальна и не подлежит распространению",
          ],
          text: [
            "Не знаете, как найти поставщика в Китае, подобрав для себя и своего бизнеса оптимального делового партнера? Обращайтесь, специалисты нашей компании проведут весь спектр требуемых мероприятий и подберут для вас ту компанию, сотрудничество с которой будет для вас выгодным и максимально безопасным",
          ],
        },
      }, //- internal1
      internal2: {
        title: "Представитель в Китае",
        text1: [
          "Все большее число владельцев бизнеса, директоров, а также руководителей, ответственных за ведение внешнеэкономических операций, задумываются о постоянном представителе в Китае, который будет осуществлять коммуникацию с китайскими контрагентами и проводить контроль на месте. Переоценить полезность представителя в Китае крайне сложно – он не только лично проверит качество предлагаемой  изготовителями продукции, но и оценит риски, связанные с возможным сотрудничеством, позволив избежать убытков, и получить в партнеры надежного и проверенного поставщика. Стоит учитывать и знание местного менталитета, что при сотрудничестве с компаниями из Китая имеет немаловажное значение.",
          "Стоит отметить, что содержание в своем штате такого сотрудника в Китае не всегда финансово выгодно, все зависит от квалификации, опыта работы и прочих условий для содержания специалиста за рубежом, таких как визовый вопрос, аренда жилья, организация рабочего места, социальные выплаты и т.д. Решением проблемы  вляется привлечение сторонних специалистов. Мы готовы провести для вас весь спектр требуемых мероприятий по налаживанию бизнес-процессов на территории КНР, гарантируя высочайший уровень исполнения работы, ее оперативность и полную безопасность для вашего бизнеса при минимальных затратах",
        ],
        post1: {
          heading: "Представитель в <br>КНР – актуальность услуги",
          descr: [
            "Постоянный торговый представитель в Китае – это не только выгодный на международной арене имиджевый фактор, с его помощью можно в оперативном порядке разрешать любые проблемы и сложности. Это позволяет экономить не только время, но и средства, что для успешного бизнеса имеет немаловажное значение.",
            "Знание местного законодательства, особенностей проведения бизнес-процессов в этой стране и обширные знакомства с деловыми партнерами в различных отраслях деятельности, позволяет нам в полной мере исключить для наших клиентов все те риски, с которыми зачастую сталкиваются отечественные предприниматели.",
            "Специалисты нашей компании в совершенстве владеют китайским, английским и русским языками, что исключает малейшие сложности при ведении деловых переговоров и заключении соглашений. Мы знаем свою работу, любим ее и гарантируем, что уровень предложенного сервиса и реализуемые услуги помогут дать успешный старт вашему бизнес-проекту, а также поспособствуют его дальнейшему развитию",
          ],
        },
        post2: {
          heading: "Что мы <br>предлагаем",
          descr: [
            "Выбирая пакет услуг «Представитель в Китае», вы получаете широкий спектр услуг при минимальных для себя затратах. Наша команда имеет большой опыт работы, специалисты не требуют дополнительной подготовки и готовы сразу приступить к своим обязанностям, включающим в себя:",
          ],
          list: [
            "Поиск производителей интересующей вас продукции",
            "Ведение переговоров и заключение соглашений от лица вашей компании",
            "Контроль сроков изготовления продукции и контроль качества",
            "Аудиторские проверки китайских компаний",
            "Анализ рынка в требуемом сегменте",
            "Консолидация и отправка образцов продукции",
            "Организация документооборота, его ведение и согласование с китайскими партнерами",
            "Организация внутренней и международной логистики",
            "Консультации по вопросам регистрации юридических лиц, представительств, возврат НДС и т.д.",
          ],
          text: [
            "Наша ценовая политика достаточно гибкая и вариативная. Итоговая стоимость услуг в каждой ситуации определяется в индивидуальном порядке и зависит от целого ряда факторов. В первую очередь речь идет о том объеме работ, который должен провести представитель компании в Китае. Также принимается во внимание  период сотрудничества и опцион поставленной задачи. Стоимость оказания услуг будет максимально выгодной и  доступной для вас.",
          ],
        },
        post3: {
          heading: "Наши <br>преимущества",
          descr: [
            "Обращаясь к нам, вы получаете широкий спектр неоспоримых преимуществ, среди которых:",
          ],
          list: [
            "Индивидуальность – разрешение каждой ситуации мы проводим в тесном сотрудничестве с заказчиком, что позволяет получить тот результат, который ему необходим",
            "Доступность – стоимость предлагаемых нами услуг ниже средней стоимости оплаты труда квалифицированного наемного сотрудника. Вы получаете команду специалистов в лице персонального менеджера, закрепленного лично за вашей компанией и проектами",
            "Опыт – мы действуем на рынке продолжительный период и способны справиться с любой поставленной перед нами задачей",
            "Оперативность – все мероприятия агент в Китае проводит в кратчайшие сроки, исключая малейшие проволочки и временные задержки",
            "Ответственность – приняв обязательства, мы гарантируем их полное и своевременное исполнение",
            "Безопасность – вся деятельность проводится нами в полном соответствии с актуальными законодательными нормами, что исключает для вас любые риски",
          ],
          text: [
            "Хотите найти представителя в Китае, который поможет с развитием бизнеса и его продвижением? Обращайтесь, наши специалисты подготовят для вас индивидуальный пакет услуг, учитывающий все аспекты проводимой вами деятельности, и помогут наладить тесный и взаимовыгодный контакт с китайскими поставщиками и инвесторами.",
            "Ваш представитель в Китае – это залог успешного и эффективного международного  бизнеса Вашей компании"
          ],
        },
      }, //- internal2
      internal3: {
        title: "Проверка качества товаров",
        text1: [
          "Опыт сотрудничества с производителями продукции из Китая весьма отчетливо свидетельствует о том, что проблем с качеством реализуемых ими товаров избежать крайне сложно. Сложности могут возникнуть не только с наличием брака в партии, но и расхождением имеющегося веса и габаритов с теми, которые были заявлены изначально.",
          "Решением проблемы является проверка качества в Китае, доверить которую вы можете специалистам нашей компании. Мы гарантируем оперативное проведение мониторинга и своевременное предоставление всей требуемой отчетности. Это позволит вам избежать ненужных трат и расходов, получив в итоге продукцию требуемого качества по заявленным характеристикам",
        ],
        post1: {
          heading: "Проверка качества <br>в Китае и ее актуальность",
          descr: [
            "Качество продукции имеет прямую зависимость от периодичности контроля и акцентирования внимания на имеющихся проблемах. Причем, контроль качества товаров в Китае крайне важно проводить в два этапа. Первый – во время производственного процесса, второй – непосредственно при погрузке продукции перед ее отправкой.",
            "Контроль на производстве подразумевает мониторинг основных этапов изготовления продукта. Периодичность посещения определяется индивидуально для каждого заказчика с составлением подробного отчета по результатам прошедшей проверки. Время готовности отчета – 24 часа. Это позволяет заказчику оперативно реагировать на текущую ситуацию, внося в нее все требуемые коррективы.",
            "Проверяется качество китайских товаров, в том числе и после производства, перед отправкой. Это дает возможность исключить проблемы не только с качеством продукции, но и с соответствием имеющегося объема и количества тому, которое оговорено в договоре. Проверка подразумевает изучение товара, его упаковки, маркировки, комплектации, наличия логотипов и прочих параметров в соответствии со спецификацией. За основу при этом может быть взято техническое задание на изготовление или же образец изделия. Подобный контроль позволяет обезопасить себя от разного рода проблем – денежные средства будут переведены исключительно за тот продукт, который соответствует всем требованиям, и в том объеме, который запланирован.",
          ],
        },
        post2: {
          heading: "Контроль качества товаров <br>в Китае – проблемы, о которых стоит помнить",
          descr: [
            "Каждая проверка проходит в индивидуальном формате, требуя согласования всех деталей с заказчиком. Наши специалисты проводят свою деятельность по всей территории КНР. Своевременный контроль качества продукции позволяет решить следующие проблемы:",
          ],
          list: [
            "Ошибки с количеством отправляемого товара. Случаются ситуации, когда товара отправляют либо больше, либо меньше, чем было оговорено в договоре и в обоих случаях у заказчика могут возникнуть проблемы на таможне. Проведение контроля исключает подобную неприятность, а кроме этого мы выполняем замер размеров транспортной упаковки, проводим проверку соответствия веса нетто и брутто, при необходимости определяем физико-химические характеристики продукции с привлечением независимой экспертизы и т.д.",
            "Товар не соответствует требуемым параметрам – примеров подобного несоответствия достаточно много. И здесь проверка качества товара в Китае будет как нельзя кстати. Мы выполняем индивидуальный подход к каждой процедуре контроля – все параметры при этом предварительно согласовываются с заказчиком. Составление индивидуальной инструкции с указанием перечня параметров и характеристик, которые следует принять во внимание при проверке качества продукции по предварительному согласованию со специалистами заказчика",
            "Отправка продукции ненадлежащего качества – эта проблема актуальна, как при сотрудничестве с новыми производителями, так и с компаниями, с которыми работаете уже не первый год. Своевременное проведение контроля на основании согласованной выборки позволяет выявить весь брак с возвратом его на доработку. В итоге заказчик получает продукцию требуемого качества и не теряет репутацию перед партнерами. Мы предоставляем документальное свидетельство о наличии или же, об отсутствии брака в отправляемой партии товара",
          ],
        },
        post3: {
          heading: "Проверка качества товара <br>в Китае – доверьтесь профессионалам",
          descr: [
            "Выбрав нас для проверки качества приобретаемой продукции, вы гарантировано получите такие преимущества:",
          ],
          list: [
            "Оперативность исполнения – вся работа проводится нами в максимально сжатые сроки",
            "Ответственность и надежность – приняв обязательства, мы исполняем их в полном объеме и точно в сроки, оговоренные заранее",
            "Грамотность и профессионализм – уровень подготовки сотрудников позволяет гарантировать высочайшее качество работы в любой ситуации",
            "Индивидуальность подхода – с каждым заказчиком мы выстраиваем схему сотрудничества, соответствующую всем его пожеланиям и требованиям",
            "Доступность – стоимость услуг соответствует рыночным ценам, разработана система скидок и дополнительных бонусов",
          ],
          text: [
            "Вам требуется надежная проверка качества продукции в Китае? Обращайтесь, мы проведем весь спектр требуемых мероприятий и исключим для Вас любые неожиданности при получении товара"
          ],
        },
      }, //- internal3
      internal4: {
        title: "Независимое тестировние образцов",
        text1: [
          "Желаете лично убедиться в том, что продукция или сырье соответствуют заявленным параметрам и характеристикам? Не проблема, в этом вам поможет предлагаемое нами независимое тестирование образцов в Китае, которое мы проводим в лучших лабораториях, что гарантирует высокую точность результата и полную его достоверность",
        ],
        post1: {
          heading: "Актуальность <br>услуги",
          descr: [
            "Ситуации, когда ожидаемое качество товара не соответствует тому, которое было задекларировано изначально, встречаются сегодня все более часто. Причем актуально это не только касательно новых партнеров, но и тех производителей, с которыми ранее было налажено активное и плодотворное сотрудничество.",
            "Причины подобных расхождений могут быть самыми разными, но ситуации это не меняет. Клиент теряет драгоценное время, несет финансовые убытки, а сам факт несоответствия в значительной мере вредит его деловой репутации.",
            "Избежать этих и прочих неприятностей вам поможет независимый тест в Китае, организовать который мы готовы для вас в кратчайшие сроки и на очень выгодных условиях. Мы активно сотрудничаем с ведущими независимыми лабораториями КНР, что позволяет нам гарантировать не только высокое качество проводимых тестов образцов продукции или качества закупаемого поставщиком сырья, но и полное их соответствие всем действующим сегодня отраслевым нормативам и стандартам",
          ],
        },
        post2: {
          heading: "Как мы <br>работаем",
          descr: [
            "За время работы в Китае мы выработали простой, но эффективный алгоритм взаимодействия с клиентами, предусматривающий поэтапное выполнение таких мероприятий как:",
          ],
          list: [
            "Постановка задачи и уточнение деталей",
            "Расчет стоимости тестов образцов или сырья",
            "Передача доверенности или иной документации для доступа инспектора нашей компании на предприятие для осуществления выборки продукции или образцов сырья",
            "Проведение всего спектра требуемых лабораторных экспертиз",
            "Получение результатов и передача их заказчику",
          ],
          text: [
            "Все независимые лаборатории в Китае, с которыми мы сотрудничаем, имеют требуемый аккредитационный уровень, а используемое при анализах оборудование в полной мере соответствует всем международным стандартам.",
            "Стоимость услуг определяется в индивидуальном порядке в зависимости от типа продукции или сырья, объемности задачи, потребности в проведении дополнительных тестов и т.д. ",
          ]
        },
        post3: {
          heading: "Почему следует <br>выбрать именно нас",
          descr: [
            "Выбрав нашу компанию, вы гарантировано получите для себя такие выгоды:",
          ],
          list: [
            "Комплексный подход – мы предоставляем клиентам полный спектр услуг, что исключает потребность привлечения сторонних специалистов",
            "Ответственное отношение – мы никогда не подводим своих партнеров и всегда доводим начатое дело до конца",
            "Квалифицированная помощь – большой практический опыт позволяет нам эффективно решать даже самые сложные задачи",
            "Индивидуальный подход – каждая ситуация разрешается нами в индивидуальном порядке",
          ],
          text: [
            "Вам нужен независимый тест сырья в Китае? Обращайтесь, мы выполним проверку и предоставим достоверные результаты о его качестве и соответствии заявленным стандартам от производителя."
          ],
        },
      }, //- internal4
      internal5: {
        title: "организация посещения выставок в Китае",
        text1: [
          "Китай знаменит не только своей промышленностью и активным развитием международной торговли, но и открытостью в отношении иностранных инвесторов и партнеров. Каждый год в этой стране проходит множество презентаций, ярмарок и выставок на международном уровне, участники которых съезжаются со всех уголков мира.",
          "Наша компания готова оказать вам всю необходимую помощь, предоставляя услуги по организации посещения выставок в Китае.",
        ],
        post1: {
          heading: "Бизнес выставки Китая. <br>Какие задачи мы поможем вам решить",
          descr: [
            "Нами осуществляется комплексная организация посещения выставок в Китае, которая включает в себя не только подготовку проезда, но и сопровождение на территории Китая, предоставление переводчика, консультирование по общим вопросам во время вашего визита в КНР. Сервис предоставляется индивидуально для каждого заказчика, что позволяет в полной мере разрешить все поставленные задачи. С нами вы сможете:",
          ],
          list: [
            "Сэкономить время – мы проведем предварительное планирование поездки, зарегистрируем вас на выставке, приобретем необходимые билеты и забронируем отель",
            "Получить результат – наши переводчики имеют высокую квалификацию, в совершенстве владеют английским и китайским языками. В комплексе все это гарантирует отсутствие малейших искажений фактов при проведении переговоров и подписании соглашений",
          ],
          text: [
            "Мы оказываем помощь не только коммерческим структурам, но и государственным предприятиям, организовывая посещение выставок в Китае и проведение деловых переговоров с представителями местных бизнес-структур. Разработка программы визита проводится индивидуально для каждого клиента и учитывает все его предпочтения и пожелания.",
            "На сегодняшний день поездки на выставки в КНР являют собой наилучший способ выхода на китайский рынок и налаживания взаимовыгодных отношений с местными производителями и инвесторами",
          ]
        },
        post2: {
          heading: "Выставки в <br>Китае и их особенности",
          descr: [
            "Мы организовываем поездки на китайские выставки, предоставляя клиентам достоверные и полные данные касательно интересующих их аспектов ведения бизнеса в Китае и получения при этом максимального результата.",
            "Нами предоставляется полный комплекс услуг при посещении выставки в Шанхае 2017 и других городах КНР. Он включает сопровождение клиента, предоставление ему квалифицированного переводчика, помощь в поиске партнеров, ведение переговоров с потенциальными клиентами. Возможна также и консультативно-информационная помощь с предоставлением информации о том, что представляет собой строительная выставка в Китае или любая другая тематическая выставка, проводимая на территории КНР.",
            "С нами вы сможете посетить знаменитую Кантонскую ярмарку, которая проходит в городе Гуанчжоу. Здесь представлен весь ассортимент идущей на экспорт китайской продукции, а проводится эта выставка вот уже на протяжении многих лет с периодичностью 2 раза в год.",
            "Мы поможем вам посетить любую интересующую выставку и обеспечим при этом максимально комфортные условия не только для работы, но и для отдыха. Действуя в тесном контакте с нашими клиентами, мы предоставляем именно те услуги, которые необходимы, принимая во внимание запланированные на поездку цели и личные пожелания.",
            "Чтобы выставка в Китае 2017 была для вас не только яркой и запоминающейся, но и полезной, воспользуйтесь услугами наших переводчиков. Они имеют большой практический опыт, отлично разбираются в терминологии и помогут вам не только с обретением новых знакомств в китайской бизнес-среде, но и заключением выгодных для себя соглашений.",
          ],
        },
        post3: {
          heading: "Что мы <br>предлагаем",
          descr: [
            "Предлагаемые нами услуги включают в себя:",
          ],
          list: [
            "Предварительный заказ внутренних билетов, размещение в гостинице, сопровождение на встречах, услуги переводчика, культурная программа",
            "Бронирование авиабилетов и организация проживания в непосредственной близости от места проведения выставок",
            "Прокат авто, в том числе с водителем. Стоимость услуги определяется классом автомобиля и его вместительностью",
          ],
          text: [
            "Все вопросы по стоимости услуг и их ассортименту вы можете обсудить с менеджером нашей компании – просто позвоните по телефону или напишите на Email и обсудите ситуацию в индивидуальном порядке.",
            "Хотите посетить выставки оборудования в Китае в 2017 году? Обращайтесь, мы предложим вам полный пакет услуг и возьмем на себя решение всех организационных и сопутствующих вопросов."
          ],
        },
      }, //- internal5
    }
