- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        footer:{
          information:'All contents © copyright 1999-2017 wintonasia.com. All rights reserved.',
          social:[
            {
              href:'#',
              name:'linkedin'
            },
            {
              href:'#',
              name:'twitter'
            },
            {
              href:'#',
              name:'vk'
            },
            {
              href:'#',
              name:'facebook'
            }
          ],
        },
        nav: {
          links: [
            {
              href: "/about.html",
              displayName: "О компании"
            },

            {
              href: "#",
              displayName: "Услуги и цены"
            },
            {
              href: "/blog.html",
              displayName: "Блог"
            },
            {
            href: "/contacts.html",
            displayName: "Контакты"
            }
          ],
          adventures:[
            {
              href:'#',
              heading:'Представитель в Китае'
            },
            {
              href:'#',
              heading:'Организация посещения выставок'
            },
            {
              href:'#',
              heading:'Оборудование из Китая'
            },
            {
              href:'#',
              heading:'Независимое тестирование образцов'
            },
            {
              href:'#',
              heading:'Поиск производителей в Китае'
            },
            {
              href:'#',
              heading:'Аудит и проверка поставщиков'
            },
            {
              href:'#',
              heading:'Проверка качества товаров'
            },
            {
              href:'#',
              heading:'Производство товаров в Китае'
            }
          ]
        },
        lang: [
          {
            active:true,
            name:'ru',
            link:'#'
          },
          {
            active:false,
            name:'en',
            link:'#'
          },
        ],
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        },
        social:[
        {
          href:'#',
          name:'vk'
        },
        {
          href:'#',
          name:'twitter'
        },
        {
          href:'#',
          name:'linkedin'
        },
        {
          href:'#',
          name:'facebook'
        }
        ]
      }, //- site
      index: {
        header:'main-header',
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        intro:{
          heading:'глобальный консалтинговый центр',
          text:'команда специалистов, главной направленностью которых является предоставление услуг по работе с китайскими производителями товаров',
        },
        services:{
          heading:'наши услуги',
          items:[
            {
              text:'Поиск производителей в Китае',
            },
            {
              text:'Аудит и проверка поставщиков',
            },
            {
              text:'Проверка качества товаров',
            },
            {
              text:'Производство товаров в Китае',
            },
            {
              text:'Представитель<br>в Китае',
            },
            {
              text:'Организация посещения выставок',
            },
            {
              text:'Оборудование<br>из Китая ',
            },
            {
              text:'Независимое тестирование образцов',
            },
          ]
        },
        advantages:{
          heading:'наши преимущества',
          items:[
            {
              heading:'Разумные цены',
              text:'1 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все специалисты владеют русским, китайским и английским языками'
            },
            {
              heading:'Гарантия качества',
              text:'2 тированные на работу с Китаем специалисты в областях Product management, Sourcing, QAками'
            },
            {
              heading:'Квалифицированные работники',
              text:'3 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все специалисты владеют русским, китайским и английским языками'
            },
            {
              heading:'Оперативность',
              text:'4 В нашей команде работают исключительно ориентированные на работу с Китаем специалисты в областях Product management, Sourcing, QA/QC, OEM. Все  '
            },
          ]
        },
        clients:{
          heading:'наши клиенты',
          items:[
            {
              img:'img/index/c1.jpg'
            },
            {
              img:'img/index/c2.jpg'
            },
            {
              img:'img/index/c3.jpg'
            },
            {
              img:'img/index/c4.jpg'
            },
            {
              img:'img/index/c5.jpg'
            },
            {
              img:'img/index/c6.jpg'
            },
            {
              img:'img/index/c7.jpg'
            },
            {
              img:'img/index/c8.jpg'
            },
            {
              img:'img/index/c9.jpg'
            },
            {
              img:'img/index/c10.jpg'
            },
            {
              img:'img/index/c11.jpg'
            },
            {
              img:'img/index/c12.jpg'
            },
          ]
        },
        blog:{
          heading:'Блог',
          items:[
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            },
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            },
            {
              img:'img/index/b1.png',
              heading:'В Китае запустили безрельсовый поезд',
              text:'Багель – традиционный еврейский хлеб колечком, покрытый золотистой хрустящей корочкой. Но 1000 долларов стоит не любой бублик, а особенный багель, придуманный поваром ...'
            }
          ]
        },
        payment:{
          heading:'Способы оплаты',
          text:'Вы можете сделать оплату удобным для вас способом',
          items:[
            {
            img:'img/index/p1.jpg'
            },
            {
            img:'img/index/p2.jpg'
            },
            {
            img:'img/index/p3.jpg'
            },
            {
            img:'img/index/p4.jpg'
            },
            {
            img:'img/index/p5.jpg'
            },
            {
            img:'img/index/p6.jpg'
            },
            {
            img:'img/index/p7.jpg'
            },
            {
            img:'img/index/p8.jpg'
            }
          ]
        },
        callback:{
          heading:'обратная связь',
          text:'Нажимая на кнопку “Отправить”, вы соглашаетесь на обработку своих персональных данных в соответствии с <a class="callback-link" href="#">Политикой конфиденциальности</a>'
        },
        reviews:{
          items:[
          {
            name:'Анатолий Федоров',
            position:'Финансовый директор, Сафоновский электромашиностроительный завод',
            text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },
          {
          name:'Анатолий Федоров',
          position:'Финансовый директор, Сафоновский электромашиностроительный завод',
          text:'Южная Корея и Китай договорились нормализации всех видов сотрудничества и взаимных обменов.  Об этом сообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества Южная Корея и Китай договорились  нормализации всех видов сотрудничества и взаимных обменов.  Об этом  ообщает CNBC. "Обе стороны считают, что укрепления обмена и сотрудничества'
          },

          ]
        }
      }, //- index
      blog:{
        title:'блог',
      items:[
        {
        img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        },
        {
        img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        },
        {
        img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        },
        {
        img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        },
        {
          img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        },
        {
          img:'img/b1.png',
          heading:'В Китае запустили безрельсовый поезд',
          text:'Шанхай - портовый город, расположенный в устье реки Янцзы. Это один из важнейших транспортных узлов Китая и крупнейший порт в районе Тихого океана. Шанхай - один из наиболее известных китайских городов. Раньше его...'
        }
      ]

      },
      contacts:{
        title:'контакты'

      },
      blog_page:{
        title:'Блог',
        heading:'В Китае запустили безрельсовый поезд',
        url:'Источник: https://habrahabr.ru/company/edison/blog/342848/',
        text:'Китайская компания по строительству железных дорог объявила, что разработала новое транспортное средство, совмещающее особенности электрического поезда и автобуса.<br><br>Скоростной транзитный поезд с автономными рельсами(Autonomous Rail Rapid Transit, APT) был спроектирован и сконструирован исследовательским подразделением компании CRRC Zhuzhou Locomotive Co Ltd, которая производит ключевые элементы для высокоскоростной железной дороги Китая.<br><br>Базовая модель поезда-автобуса имеет три вагона вместимостью 300 человек.<br><br><br>Комплектация с пятью вагонами может перевозить до 500 пассажиров. По словам разработчиков, такая конструкция вмещает больше людей и позволяет маневрировать легче, чем обычный автобус. Транспорт использует электрический привод и может на одном заряде проехать 40 км при максимальной скорости 70 км/ч.<br><br>По его словам, большинство средних и малых городов не могут позволить себе дорогостоящие транспортные системы в виде, например, метро, которые, плюс ко всему, еще и очень долго строятся. Так, прокладка километра подземки может обходится от 400 до 700 миллионов юаней (от 58 до 102 миллионов долларов США).<br><br>Как заявляют авторы проекта, электрический состав в стандартной комплектации стоит около 15 миллионов юаней (2,2 миллиона долларов).<br><br>Согласно планам правительства города Чжучжоу (провинция Хунань), первая действующая линия длиной 6,5 км будет построена через центр города, а заработает система в 2018 году.',
        more:[
        {
          link:'Предыдущая новость',
          href:'#',
          heading:'В Китае запустили первый в мире водородный трамвай'
        }
        ]
      }

    }
