section.page-title
	.container
		.row.title-wrapper.align-items-center.justify-content-between
			.col-24.col-md-auto
				h2.title-headng!= page.title
			.col-24.col-md-auto
				.social-wrapper.justify-content-md-end.justify-content-start
					ul.social-list.align-self-end
						each item, i in content.site.social
							li.social-item
								a.social-item__link(href=item.href)
									+svg(item.name)
