section.callback
	.container
		h2.section-heading.section-heading--section-callback!= content.index.callback.heading
	.callback-wrapper(style='background-image:url(./img/index/callback.png)')
		.container
			.row.justify-content-center
				.col-24.col-xl-20
					form.callback-form
						input.callback-input(placeholder='Имя', type='text', required)
						input.callback-input(placeholder='E-mail', type='email', required)
						input.callback-input(placeholder='Телефон', type='text', required)
						button.callback-button Отправить
					p.callback-text!= content.index.callback.text
