// a1
$svg-a1-name: "a1";
$svg-a1-width: em(32);
$svg-a1-height: em(32);
$svg-a1-offset-x: px;
$svg-a1-offset-y: px;
$svg-a1-image: "../img/sprite.svg";
$svg-a1: ( "a1", em(32), em(32), px, px, "../img/sprite.svg" );

// a2
$svg-a2-name: "a2";
$svg-a2-width: em(32);
$svg-a2-height: em(32);
$svg-a2-offset-x: px;
$svg-a2-offset-y: px;
$svg-a2-image: "../img/sprite.svg";
$svg-a2: ( "a2", em(32), em(32), px, px, "../img/sprite.svg" );

// a3
$svg-a3-name: "a3";
$svg-a3-width: em(32);
$svg-a3-height: em(32);
$svg-a3-offset-x: px;
$svg-a3-offset-y: px;
$svg-a3-image: "../img/sprite.svg";
$svg-a3: ( "a3", em(32), em(32), px, px, "../img/sprite.svg" );

// a4
$svg-a4-name: "a4";
$svg-a4-width: em(32);
$svg-a4-height: em(32);
$svg-a4-offset-x: px;
$svg-a4-offset-y: px;
$svg-a4-image: "../img/sprite.svg";
$svg-a4: ( "a4", em(32), em(32), px, px, "../img/sprite.svg" );

// arrow-left
$svg-arrow-left-name: "arrow-left";
$svg-arrow-left-width: em(17.39);
$svg-arrow-left-height: em(32);
$svg-arrow-left-offset-x: px;
$svg-arrow-left-offset-y: px;
$svg-arrow-left-image: "../img/sprite.svg";
$svg-arrow-left: ( "arrow-left", em(17.39), em(32), px, px, "../img/sprite.svg" );

// arrow-right
$svg-arrow-right-name: "arrow-right";
$svg-arrow-right-width: em(17.39);
$svg-arrow-right-height: em(32);
$svg-arrow-right-offset-x: px;
$svg-arrow-right-offset-y: px;
$svg-arrow-right-image: "../img/sprite.svg";
$svg-arrow-right: ( "arrow-right", em(17.39), em(32), px, px, "../img/sprite.svg" );

// b1
$svg-b1-name: "b1";
$svg-b1-width: em(32);
$svg-b1-height: em(32);
$svg-b1-offset-x: px;
$svg-b1-offset-y: px;
$svg-b1-image: "../img/sprite.svg";
$svg-b1: ( "b1", em(32), em(32), px, px, "../img/sprite.svg" );

// b2
$svg-b2-name: "b2";
$svg-b2-width: em(32);
$svg-b2-height: em(29.54);
$svg-b2-offset-x: px;
$svg-b2-offset-y: px;
$svg-b2-image: "../img/sprite.svg";
$svg-b2: ( "b2", em(32), em(29.54), px, px, "../img/sprite.svg" );

// b3
$svg-b3-name: "b3";
$svg-b3-width: em(32);
$svg-b3-height: em(24.94);
$svg-b3-offset-x: px;
$svg-b3-offset-y: px;
$svg-b3-image: "../img/sprite.svg";
$svg-b3: ( "b3", em(32), em(24.94), px, px, "../img/sprite.svg" );

// b4
$svg-b4-name: "b4";
$svg-b4-width: em(32);
$svg-b4-height: em(27.43);
$svg-b4-offset-x: px;
$svg-b4-offset-y: px;
$svg-b4-image: "../img/sprite.svg";
$svg-b4: ( "b4", em(32), em(27.43), px, px, "../img/sprite.svg" );

// b5
$svg-b5-name: "b5";
$svg-b5-width: em(32);
$svg-b5-height: em(32);
$svg-b5-offset-x: px;
$svg-b5-offset-y: px;
$svg-b5-image: "../img/sprite.svg";
$svg-b5: ( "b5", em(32), em(32), px, px, "../img/sprite.svg" );

// b6
$svg-b6-name: "b6";
$svg-b6-width: em(32);
$svg-b6-height: em(32);
$svg-b6-offset-x: px;
$svg-b6-offset-y: px;
$svg-b6-image: "../img/sprite.svg";
$svg-b6: ( "b6", em(32), em(32), px, px, "../img/sprite.svg" );

// b7
$svg-b7-name: "b7";
$svg-b7-width: em(32);
$svg-b7-height: em(32);
$svg-b7-offset-x: px;
$svg-b7-offset-y: px;
$svg-b7-image: "../img/sprite.svg";
$svg-b7: ( "b7", em(32), em(32), px, px, "../img/sprite.svg" );

// b8
$svg-b8-name: "b8";
$svg-b8-width: em(32);
$svg-b8-height: em(32);
$svg-b8-offset-x: px;
$svg-b8-offset-y: px;
$svg-b8-image: "../img/sprite.svg";
$svg-b8: ( "b8", em(32), em(32), px, px, "../img/sprite.svg" );

// blog-next
$svg-blog-next-name: "blog-next";
$svg-blog-next-width: em(16);
$svg-blog-next-height: em(10);
$svg-blog-next-offset-x: px;
$svg-blog-next-offset-y: px;
$svg-blog-next-image: "../img/sprite.svg";
$svg-blog-next: ( "blog-next", em(16), em(10), px, px, "../img/sprite.svg" );

// blog-prev
$svg-blog-prev-name: "blog-prev";
$svg-blog-prev-width: em(16);
$svg-blog-prev-height: em(10);
$svg-blog-prev-offset-x: px;
$svg-blog-prev-offset-y: px;
$svg-blog-prev-image: "../img/sprite.svg";
$svg-blog-prev: ( "blog-prev", em(16), em(10), px, px, "../img/sprite.svg" );

// button
$svg-button-name: "button";
$svg-button-width: em(30);
$svg-button-height: em(30);
$svg-button-offset-x: px;
$svg-button-offset-y: px;
$svg-button-image: "../img/sprite.svg";
$svg-button: ( "button", em(30), em(30), px, px, "../img/sprite.svg" );

// close
$svg-close-name: "close";
$svg-close-width: em(21);
$svg-close-height: em(21);
$svg-close-offset-x: px;
$svg-close-offset-y: px;
$svg-close-image: "../img/sprite.svg";
$svg-close: ( "close", em(21), em(21), px, px, "../img/sprite.svg" );

// email
$svg-email-name: "email";
$svg-email-width: em(30);
$svg-email-height: em(30);
$svg-email-offset-x: px;
$svg-email-offset-y: px;
$svg-email-image: "../img/sprite.svg";
$svg-email: ( "email", em(30), em(30), px, px, "../img/sprite.svg" );

// f1
$svg-f1-name: "f1";
$svg-f1-width: em(24);
$svg-f1-height: em(32);
$svg-f1-offset-x: px;
$svg-f1-offset-y: px;
$svg-f1-image: "../img/sprite.svg";
$svg-f1: ( "f1", em(24), em(32), px, px, "../img/sprite.svg" );

// f2
$svg-f2-name: "f2";
$svg-f2-width: em(32);
$svg-f2-height: em(32);
$svg-f2-offset-x: px;
$svg-f2-offset-y: px;
$svg-f2-image: "../img/sprite.svg";
$svg-f2: ( "f2", em(32), em(32), px, px, "../img/sprite.svg" );

// f3
$svg-f3-name: "f3";
$svg-f3-width: em(16);
$svg-f3-height: em(32);
$svg-f3-offset-x: px;
$svg-f3-offset-y: px;
$svg-f3-image: "../img/sprite.svg";
$svg-f3: ( "f3", em(16), em(32), px, px, "../img/sprite.svg" );

// f4
$svg-f4-name: "f4";
$svg-f4-width: em(24);
$svg-f4-height: em(32);
$svg-f4-offset-x: px;
$svg-f4-offset-y: px;
$svg-f4-image: "../img/sprite.svg";
$svg-f4: ( "f4", em(24), em(32), px, px, "../img/sprite.svg" );

// facebook
$svg-facebook-name: "facebook";
$svg-facebook-width: em(32);
$svg-facebook-height: em(32);
$svg-facebook-offset-x: px;
$svg-facebook-offset-y: px;
$svg-facebook-image: "../img/sprite.svg";
$svg-facebook: ( "facebook", em(32), em(32), px, px, "../img/sprite.svg" );

// facebook2
$svg-facebook2-name: "facebook2";
$svg-facebook2-width: em(32);
$svg-facebook2-height: em(32);
$svg-facebook2-offset-x: px;
$svg-facebook2-offset-y: px;
$svg-facebook2-image: "../img/sprite.svg";
$svg-facebook2: ( "facebook2", em(32), em(32), px, px, "../img/sprite.svg" );

// linkedin
$svg-linkedin-name: "linkedin";
$svg-linkedin-width: em(32);
$svg-linkedin-height: em(32);
$svg-linkedin-offset-x: px;
$svg-linkedin-offset-y: px;
$svg-linkedin-image: "../img/sprite.svg";
$svg-linkedin: ( "linkedin", em(32), em(32), px, px, "../img/sprite.svg" );

// linkedin2
$svg-linkedin2-name: "linkedin2";
$svg-linkedin2-width: em(32);
$svg-linkedin2-height: em(32);
$svg-linkedin2-offset-x: px;
$svg-linkedin2-offset-y: px;
$svg-linkedin2-image: "../img/sprite.svg";
$svg-linkedin2: ( "linkedin2", em(32), em(32), px, px, "../img/sprite.svg" );

// phone
$svg-phone-name: "phone";
$svg-phone-width: em(30);
$svg-phone-height: em(30);
$svg-phone-offset-x: px;
$svg-phone-offset-y: px;
$svg-phone-image: "../img/sprite.svg";
$svg-phone: ( "phone", em(30), em(30), px, px, "../img/sprite.svg" );

// placeholder
$svg-placeholder-name: "placeholder";
$svg-placeholder-width: em(25.95);
$svg-placeholder-height: em(32);
$svg-placeholder-offset-x: px;
$svg-placeholder-offset-y: px;
$svg-placeholder-image: "../img/sprite.svg";
$svg-placeholder: ( "placeholder", em(25.95), em(32), px, px, "../img/sprite.svg" );

// pointer
$svg-pointer-name: "pointer";
$svg-pointer-width: em(30);
$svg-pointer-height: em(30);
$svg-pointer-offset-x: px;
$svg-pointer-offset-y: px;
$svg-pointer-image: "../img/sprite.svg";
$svg-pointer: ( "pointer", em(30), em(30), px, px, "../img/sprite.svg" );

// pointer-white
$svg-pointer-white-name: "pointer-white";
$svg-pointer-white-width: em(30);
$svg-pointer-white-height: em(30);
$svg-pointer-white-offset-x: px;
$svg-pointer-white-offset-y: px;
$svg-pointer-white-image: "../img/sprite.svg";
$svg-pointer-white: ( "pointer-white", em(30), em(30), px, px, "../img/sprite.svg" );

// review-arrow--left
$svg-review-arrow--left-name: "review-arrow--left";
$svg-review-arrow--left-width: em(16);
$svg-review-arrow--left-height: em(10);
$svg-review-arrow--left-offset-x: px;
$svg-review-arrow--left-offset-y: px;
$svg-review-arrow--left-image: "../img/sprite.svg";
$svg-review-arrow--left: ( "review-arrow--left", em(16), em(10), px, px, "../img/sprite.svg" );

// review-arrow--right
$svg-review-arrow--right-name: "review-arrow--right";
$svg-review-arrow--right-width: em(16);
$svg-review-arrow--right-height: em(10);
$svg-review-arrow--right-offset-x: px;
$svg-review-arrow--right-offset-y: px;
$svg-review-arrow--right-image: "../img/sprite.svg";
$svg-review-arrow--right: ( "review-arrow--right", em(16), em(10), px, px, "../img/sprite.svg" );

// s1
$svg-s1-name: "s1";
$svg-s1-width: em(32);
$svg-s1-height: em(32);
$svg-s1-offset-x: px;
$svg-s1-offset-y: px;
$svg-s1-image: "../img/sprite.svg";
$svg-s1: ( "s1", em(32), em(32), px, px, "../img/sprite.svg" );

// s2
$svg-s2-name: "s2";
$svg-s2-width: em(32);
$svg-s2-height: em(32);
$svg-s2-offset-x: px;
$svg-s2-offset-y: px;
$svg-s2-image: "../img/sprite.svg";
$svg-s2: ( "s2", em(32), em(32), px, px, "../img/sprite.svg" );

// s3
$svg-s3-name: "s3";
$svg-s3-width: em(32);
$svg-s3-height: em(32);
$svg-s3-offset-x: px;
$svg-s3-offset-y: px;
$svg-s3-image: "../img/sprite.svg";
$svg-s3: ( "s3", em(32), em(32), px, px, "../img/sprite.svg" );

// s4
$svg-s4-name: "s4";
$svg-s4-width: em(32);
$svg-s4-height: em(32);
$svg-s4-offset-x: px;
$svg-s4-offset-y: px;
$svg-s4-image: "../img/sprite.svg";
$svg-s4: ( "s4", em(32), em(32), px, px, "../img/sprite.svg" );

// s5
$svg-s5-name: "s5";
$svg-s5-width: em(32);
$svg-s5-height: em(32);
$svg-s5-offset-x: px;
$svg-s5-offset-y: px;
$svg-s5-image: "../img/sprite.svg";
$svg-s5: ( "s5", em(32), em(32), px, px, "../img/sprite.svg" );

// s6
$svg-s6-name: "s6";
$svg-s6-width: em(32);
$svg-s6-height: em(32);
$svg-s6-offset-x: px;
$svg-s6-offset-y: px;
$svg-s6-image: "../img/sprite.svg";
$svg-s6: ( "s6", em(32), em(32), px, px, "../img/sprite.svg" );

// s7
$svg-s7-name: "s7";
$svg-s7-width: em(32);
$svg-s7-height: em(32);
$svg-s7-offset-x: px;
$svg-s7-offset-y: px;
$svg-s7-image: "../img/sprite.svg";
$svg-s7: ( "s7", em(32), em(32), px, px, "../img/sprite.svg" );

// s8
$svg-s8-name: "s8";
$svg-s8-width: em(32);
$svg-s8-height: em(32);
$svg-s8-offset-x: px;
$svg-s8-offset-y: px;
$svg-s8-image: "../img/sprite.svg";
$svg-s8: ( "s8", em(32), em(32), px, px, "../img/sprite.svg" );

// star
$svg-star-name: "star";
$svg-star-width: em(30);
$svg-star-height: em(30);
$svg-star-offset-x: px;
$svg-star-offset-y: px;
$svg-star-image: "../img/sprite.svg";
$svg-star: ( "star", em(30), em(30), px, px, "../img/sprite.svg" );

// twitter
$svg-twitter-name: "twitter";
$svg-twitter-width: em(32);
$svg-twitter-height: em(32);
$svg-twitter-offset-x: px;
$svg-twitter-offset-y: px;
$svg-twitter-image: "../img/sprite.svg";
$svg-twitter: ( "twitter", em(32), em(32), px, px, "../img/sprite.svg" );

// twitter2
$svg-twitter2-name: "twitter2";
$svg-twitter2-width: em(32);
$svg-twitter2-height: em(32);
$svg-twitter2-offset-x: px;
$svg-twitter2-offset-y: px;
$svg-twitter2-image: "../img/sprite.svg";
$svg-twitter2: ( "twitter2", em(32), em(32), px, px, "../img/sprite.svg" );

// vk
$svg-vk-name: "vk";
$svg-vk-width: em(32);
$svg-vk-height: em(32);
$svg-vk-offset-x: px;
$svg-vk-offset-y: px;
$svg-vk-image: "../img/sprite.svg";
$svg-vk: ( "vk", em(32), em(32), px, px, "../img/sprite.svg" );

// vk2
$svg-vk2-name: "vk2";
$svg-vk2-width: em(32);
$svg-vk2-height: em(32);
$svg-vk2-offset-x: px;
$svg-vk2-offset-y: px;
$svg-vk2-image: "../img/sprite.svg";
$svg-vk2: ( "vk2", em(32), em(32), px, px, "../img/sprite.svg" );

// wave
$svg-wave-name: "wave";
$svg-wave-width: em(32);
$svg-wave-height: em(11.13);
$svg-wave-offset-x: px;
$svg-wave-offset-y: px;
$svg-wave-image: "../img/sprite.svg";
$svg-wave: ( "wave", em(32), em(11.13), px, px, "../img/sprite.svg" );


$svg-spritesheet-width: px;
$svg-spritesheet-height: px;
$svg-spritesheet-image: "../img/sprite.svg";
$svg-spritesheet-sprites: ( $svg-a1,  $svg-a2,  $svg-a3,  $svg-a4,  $svg-arrow-left,  $svg-arrow-right,  $svg-b1,  $svg-b2,  $svg-b3,  $svg-b4,  $svg-b5,  $svg-b6,  $svg-b7,  $svg-b8,  $svg-blog-next,  $svg-blog-prev,  $svg-button,  $svg-close,  $svg-email,  $svg-f1,  $svg-f2,  $svg-f3,  $svg-f4,  $svg-facebook,  $svg-facebook2,  $svg-linkedin,  $svg-linkedin2,  $svg-phone,  $svg-placeholder,  $svg-pointer,  $svg-pointer-white,  $svg-review-arrow--left,  $svg-review-arrow--right,  $svg-s1,  $svg-s2,  $svg-s3,  $svg-s4,  $svg-s5,  $svg-s6,  $svg-s7,  $svg-s8,  $svg-star,  $svg-twitter,  $svg-twitter2,  $svg-vk,  $svg-vk2,  $svg-wave,  );
