extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug
block content
  include partials/_section-intro.pug
  include partials/_section-services.pug
  include partials/_section-advantages.pug
  include partials/_section-clients.pug
  include partials/_section-blog.pug
  include partials/_section-callback.pug
  include partials/_section-reviews.pug
  include partials/_section-payment.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug


